.about {
    margin-top: 20rem;
    margin-bottom: 12.2rem;

    &__inner {
        margin-left: 8rem;
        color: #1E2945;

        &__title {
            font-size: 4rem;
            line-height: 3.9rem;
            letter-spacing: 0.0888889px;
            margin-bottom: 3.5rem;
            margin-left: -1px;
        }

        &__wrap {
            display: flex;
            flex-wrap: wrap;

            &--text {
                font-size: 1.8rem;
                max-width: 55rem;
                width: 100%;
                margin-right: 6.9rem;

                &:nth-child(even) {
                    max-width: 50rem;
                    width: 100%;
                }
            }
        }
    }
}