.app {
    margin-top: 13.8rem;

    &__inner {
        display: flex;
        background-image: url(../../assets/images/bg-app.png);
        background-repeat: no-repeat;
        background-position: 0 14.3rem;

        &__info {
            display: flex;
            flex-direction: column;
            color: var(--color-white);
            margin-top: 35.2rem;
            margin-bottom: 31rem;
            margin-left: 14rem;
            margin-right: 4.4rem;

            &--title {
                font-size: 4rem;
                line-height: 4rem;
                letter-spacing: 0.0888889px;
                max-width: 41.2rem;
                width: 100%;
                margin-top: -2px;
                margin-bottom: 1.4rem;
            }

            &--text {
                font-size: 1.8rem;
                line-height: 2.6rem;
                max-width: 39rem;
                width: 100%;
                margin-left: 2px;
            }
        }

        &--img {
            margin-top: -.7rem;
            margin-left: -.9rem;
            max-width: 100%;
            height: fit-content;
        }
    }
}