@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; 
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; 
    }
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Qanelas', 'CircularStd', sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 2.6rem;
    color: var(--color-black);
    background-color: #F2F2F2;
    min-height: 100vh;
    position: relative;

    @include respond(phone) {
        font-size: 16px;
        line-height: 26px;
    }
}

.container {
    max-width: 104rem;
    width: 100%;
    margin: 0 auto;
}

.container-large {
    max-width: 144rem;
    width: 100%;
    margin: 0 auto;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}