.btn {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    border: none;
    text-decoration: none;
    cursor: pointer;

    &-hero {
        font-size: 1.8rem;
        line-height: 2.2rem;
        padding: 0 5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.6rem;
        color: var(--color-white);
        background: linear-gradient(180.4deg, #00F9FF 1.52%, #00D0F1 122.12%);
        box-shadow: 0px 8px 14px rgba(0, 107, 206, 0.3);
        border-radius: 4px;
        position: relative;
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
        transition: all .4s;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(var(--color-black), .2);
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 4px;
            background: linear-gradient(180.4deg, #00F9FF 1.52%, #00D0F1 122.12%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
    }

    &-login,
    &-registration {
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: var(--color-white);
    }

    &-login {
        display: flex;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 1px;
            height: 30px;
            background-color: rgba($color: #ffffff, $alpha: 0.2);
            position: absolute;
            left: -2.9rem;
        }

        &::after {
            content: '';
            display: block;
            background-color: var(--color-white);
            width: 0;
            height: 1px;
            position: absolute;
            bottom: -3px;
            transition: all .3s ease;
        }

        &:hover {
            
            &::after {
                width: 100%;
            }
        }
    }

    &-registration {
        padding: 0 1.1rem;
        padding-top: .5rem;
        padding-bottom: .7rem;
        background: transparent;
        border: 1px solid var(--color-white);
        border-radius: 4px;
        margin-left: 20px;
        transition: all .3s ease;

        &:hover {
            transform: translateY(-4px);
        }
    }

    &-tab-link {
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding: 1.6rem 0;
        padding-left: 3.5rem;
        padding-right: 2.7rem;
        position: relative;
        transition: all .3s ease;

        &[data-tab-name="deposit"] {
            margin-right: .4rem;
        }

        &[data-tab-name="free"] {
            margin-left: 1rem;
        }

        &[data-tab-name="support"] {
            margin-left: 1rem;
        }

        &.active {
            color: #2E73FE;
            transition: all .3s ease;

            &::after {
                content: '';
                display: inline-block;
                background-color: #2E73FE;
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}