@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Black.eot");
  src: local("Qanelas Black"), local("Qanelas-Black"), url("../../assets/fonts/Qanelas-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Black.woff") format("woff"), url("../../assets/fonts/Qanelas-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Thin.eot");
  src: local("Qanelas Thin"), local("Qanelas-Thin"), url("../../assets/fonts/Qanelas-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Thin.woff") format("woff"), url("../../assets/fonts/Qanelas-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-UltraLightItalic.eot");
  src: local("Qanelas UltraLight Italic"), local("Qanelas-UltraLightItalic"), url("../../assets/fonts/Qanelas-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-UltraLightItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-SemiBold.eot");
  src: local("Qanelas SemiBold"), local("Qanelas-SemiBold"), url("../../assets/fonts/Qanelas-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-SemiBold.woff") format("woff"), url("../../assets/fonts/Qanelas-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-SemiBoldItalic.eot");
  src: local("Qanelas SemiBold Italic"), local("Qanelas-SemiBoldItalic"), url("../../assets/fonts/Qanelas-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-SemiBoldItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-ExtraBold.eot");
  src: local("Qanelas ExtraBold"), local("Qanelas-ExtraBold"), url("../../assets/fonts/Qanelas-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-ExtraBold.woff") format("woff"), url("../../assets/fonts/Qanelas-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Bold.eot");
  src: local("Qanelas Bold"), local("Qanelas-Bold"), url("../../assets/fonts/Qanelas-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Bold.woff") format("woff"), url("../../assets/fonts/Qanelas-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-ThinItalic.eot");
  src: local("Qanelas Thin Italic"), local("Qanelas-ThinItalic"), url("../../assets/fonts/Qanelas-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-ThinItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-HeavyItalic.eot");
  src: local("Qanelas Heavy Italic"), local("Qanelas-HeavyItalic"), url("../../assets/fonts/Qanelas-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-HeavyItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-UltraLight.eot");
  src: local("Qanelas UltraLight"), local("Qanelas-UltraLight"), url("../../assets/fonts/Qanelas-UltraLight.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-UltraLight.woff") format("woff"), url("../../assets/fonts/Qanelas-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Light.eot");
  src: local("Qanelas Light"), local("Qanelas-Light"), url("../../assets/fonts/Qanelas-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Light.woff") format("woff"), url("../../assets/fonts/Qanelas-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Heavy.eot");
  src: local("Qanelas Heavy"), local("Qanelas-Heavy"), url("../../assets/fonts/Qanelas-Heavy.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Heavy.woff") format("woff"), url("../../assets/fonts/Qanelas-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-MediumItalic.eot");
  src: local("Qanelas Medium Italic"), local("Qanelas-MediumItalic"), url("../../assets/fonts/Qanelas-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-MediumItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-ExtraBoldItalic.eot");
  src: local("Qanelas ExtraBold Italic"), local("Qanelas-ExtraBoldItalic"), url("../../assets/fonts/Qanelas-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-ExtraBoldItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-RegularItalic.eot");
  src: local("Qanelas Regular Italic"), local("Qanelas-RegularItalic"), url("../../assets/fonts/Qanelas-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-RegularItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-BoldItalic.eot");
  src: local("Qanelas Bold Italic"), local("Qanelas-BoldItalic"), url("../../assets/fonts/Qanelas-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-BoldItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-LightItalic.eot");
  src: local("Qanelas Light Italic"), local("Qanelas-LightItalic"), url("../../assets/fonts/Qanelas-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-LightItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-BlackItalic.eot");
  src: local("Qanelas Black Italic"), local("Qanelas-BlackItalic"), url("../../assets/fonts/Qanelas-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-BlackItalic.woff") format("woff"), url("../../assets/fonts/Qanelas-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Regular.eot");
  src: local("Qanelas Regular"), local("Qanelas-Regular"), url("../../assets/fonts/Qanelas-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Regular.woff") format("woff"), url("../../assets/fonts/Qanelas-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Qanelas';
  src: url("../../assets/fonts/Qanelas-Medium.eot");
  src: local("Qanelas Medium"), local("Qanelas-Medium"), url("../../assets/fonts/Qanelas-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Qanelas-Medium.woff") format("woff"), url("../../assets/fonts/Qanelas-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Black.eot");
  src: url("../../assets/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-Black.woff") format("woff"), url("../../assets/fonts/CircularStd-Black.ttf") format("truetype"), url("../../assets/fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-BlackItalic.eot");
  src: url("../../assets/fonts/CircularStd-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-BlackItalic.woff") format("woff"), url("../../assets/fonts/CircularStd-BlackItalic.ttf") format("truetype"), url("../../assets/fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Bold.eot");
  src: url("../../assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-Bold.woff") format("woff"), url("../../assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("../../assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-BoldItalic.eot");
  src: url("../../assets/fonts/CircularStd-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-BoldItalic.woff") format("woff"), url("../../assets/fonts/CircularStd-BoldItalic.ttf") format("truetype"), url("../../assets/fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Medium.eot");
  src: url("../../assets/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-Medium.woff") format("woff"), url("../../assets/fonts/CircularStd-Medium.ttf") format("truetype"), url("../../assets/fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-MediumItalic.eot");
  src: url("../../assets/fonts/CircularStd-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-MediumItalic.woff") format("woff"), url("../../assets/fonts/CircularStd-MediumItalic.ttf") format("truetype"), url("../../assets/fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-Book.eot");
  src: url("../../assets/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-Book.woff") format("woff"), url("../../assets/fonts/CircularStd-Book.ttf") format("truetype"), url("../../assets/fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "CircularStd";
  src: url("../../assets/fonts/CircularStd-BookItalic.eot");
  src: url("../../assets/fonts/CircularStd-BookItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/CircularStd-BookItalic.woff") format("woff"), url("../../assets/fonts/CircularStd-BookItalic.ttf") format("truetype"), url("../../assets/fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
  font-weight: 400;
  font-style: italic; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

button,
input,
textarea,
select {
  font-family: 'Qanelas', 'CircularStd', sans-serif;
  -webkit-appearance: none;
  outline: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-white: #ffffff;
  --color-black: #000000; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Qanelas', 'CircularStd', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.6rem;
  color: var(--color-black);
  background-color: #F2F2F2;
  min-height: 100vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    body {
      font-size: 16px;
      line-height: 26px; } }

.container {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto; }

.container-large {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto; }

.wow {
  animation-duration: 1s; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer; }
  .btn-hero {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 0 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.6rem;
    color: var(--color-white);
    background: linear-gradient(180.4deg, #00F9FF 1.52%, #00D0F1 122.12%);
    box-shadow: 0px 8px 14px rgba(0, 107, 206, 0.3);
    border-radius: 4px;
    position: relative;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    transition: all .4s; }
    .btn-hero:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(var(--color-black), 0.2); }
      .btn-hero:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn-hero::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      background: linear-gradient(180.4deg, #00F9FF 1.52%, #00D0F1 122.12%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
  .btn-login, .btn-registration {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--color-white); }
  .btn-login {
    display: flex;
    align-items: center;
    position: relative; }
    .btn-login::before {
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      background-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      left: -2.9rem; }
    .btn-login::after {
      content: '';
      display: block;
      background-color: var(--color-white);
      width: 0;
      height: 1px;
      position: absolute;
      bottom: -3px;
      transition: all .3s ease; }
    .btn-login:hover::after {
      width: 100%; }
  .btn-registration {
    padding: 0 1.1rem;
    padding-top: .5rem;
    padding-bottom: .7rem;
    background: transparent;
    border: 1px solid var(--color-white);
    border-radius: 4px;
    margin-left: 20px;
    transition: all .3s ease; }
    .btn-registration:hover {
      transform: translateY(-4px); }
  .btn-tab-link {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 1.6rem 0;
    padding-left: 3.5rem;
    padding-right: 2.7rem;
    position: relative;
    transition: all .3s ease; }
    .btn-tab-link[data-tab-name="deposit"] {
      margin-right: .4rem; }
    .btn-tab-link[data-tab-name="free"] {
      margin-left: 1rem; }
    .btn-tab-link[data-tab-name="support"] {
      margin-left: 1rem; }
    .btn-tab-link.active {
      color: #2E73FE;
      transition: all .3s ease; }
      .btn-tab-link.active::after {
        content: '';
        display: inline-block;
        background-color: #2E73FE;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 0; }
  .btn-hamburger {
    display: none; }
    .btn-hamburger-close {
      display: none; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3.1rem 0; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 5.2rem;
    padding-right: 5rem; }
    .header__inner__info {
      display: flex;
      align-items: center;
      color: var(--color-white);
      margin-top: -.9rem; }
      .header__inner__info .logo {
        display: flex;
        max-width: 100%;
        height: inherit; }
      .header__inner__info .lang-dropdown {
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin-left: 2.7rem;
        text-transform: uppercase;
        position: relative;
        padding-right: 10px;
        padding-bottom: 5px;
        margin-top: 10px; }
        .header__inner__info .lang-dropdown:hover .lang-dropdown--content {
          opacity: 1;
          visibility: visible;
          transition: all .3s ease; }
        .header__inner__info .lang-dropdown::after {
          content: url(../../assets/images/arrow-lang.svg);
          position: absolute;
          top: -2px;
          right: -1px; }
        .header__inner__info .lang-dropdown::before {
          content: '';
          display: block;
          width: 1px;
          height: 20px;
          background-color: rgba(255, 255, 255, 0.2);
          position: absolute;
          top: -1px;
          left: -12px; }
        .header__inner__info .lang-dropdown span {
          cursor: default; }
        .header__inner__info .lang-dropdown a {
          text-decoration: none;
          color: inherit; }
        .header__inner__info .lang-dropdown--content {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 2.3rem;
          left: -.5rem;
          background-color: #fff;
          padding: .7rem;
          padding-right: 1.5rem;
          border-radius: 4px;
          opacity: 0;
          visibility: hidden;
          transition: all .3s ease; }
          .header__inner__info .lang-dropdown--content a {
            color: var(--color-black);
            margin-bottom: .5rem; }
            .header__inner__info .lang-dropdown--content a:last-child {
              margin-bottom: 0; }
    .header__inner__menu {
      display: flex;
      align-items: center;
      margin-top: -1px; }
      .header__inner__menu .menu-primary {
        display: flex;
        color: var(--color-white);
        list-style: none;
        margin-right: 6.2rem; }
        .header__inner__menu .menu-primary li {
          display: flex;
          font-size: 1.5rem;
          line-height: 1.8rem;
          margin-right: 3.1rem; }
          .header__inner__menu .menu-primary li:last-child {
            margin-right: 0; }
        .header__inner__menu .menu-primary a {
          display: flex;
          text-decoration: none;
          color: inherit;
          position: relative;
          overflow: hidden; }
          .header__inner__menu .menu-primary a::after {
            content: '';
            display: block;
            background-color: var(--color-white);
            width: 100%;
            height: 1px;
            transform: translateX(120%);
            visibility: hidden;
            position: absolute;
            bottom: 0;
            transition: all .3s ease; }
          .header__inner__menu .menu-primary a:hover::after {
            transform: translateX(0);
            visibility: visible; }

.hero {
  background-image: url(../../assets/images/bg-hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 79rem;
    width: 100%;
    padding-top: 22.6rem;
    padding-bottom: 40.22rem;
    margin: 0 auto;
    color: var(--color-white); }
    .hero__inner__title {
      font-size: 7rem;
      line-height: 7rem;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.155555px;
      text-align: center;
      margin-bottom: 1.9rem; }
    .hero__inner__sub-title {
      font-size: 2.4rem;
      line-height: 2.9rem;
      letter-spacing: 0.36px;
      margin-bottom: 3.2rem;
      text-align: center; }

.benefits {
  margin-top: -17.9rem;
  background-color: transparent; }
  .benefits__inner {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-white);
    padding-left: 13.5rem;
    padding-top: 7.3rem;
    padding-bottom: 7.7rem;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
    position: relative;
    overflow: hidden; }
    .benefits__inner::after {
      content: '';
      display: block;
      width: 1px;
      height: 100%;
      background-color: #F7F7F7;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%); }
    .benefits__inner::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #F7F7F7;
      position: absolute;
      top: calc(50% - 5px);
      left: 0;
      right: 0;
      transform: translateY(-50%); }
    .benefits__inner__block {
      display: flex;
      align-items: center;
      width: 50%; }
      .benefits__inner__block:nth-child(even) .benefits__inner__block__img {
        margin-top: -2px;
        margin-left: 4px; }
      .benefits__inner__block:nth-child(4) .benefits__inner__block__img {
        margin-top: -1px; }
      .benefits__inner__block:nth-child(n+3) {
        margin-top: 12rem; }
      .benefits__inner__block.rose .benefits__inner__block__img {
        background: linear-gradient(315deg, #FF7676 0%, #F54EA2 100%); }
      .benefits__inner__block.rose .benefits__inner__block--text {
        max-width: 21rem;
        width: 100%; }
      .benefits__inner__block.orange .benefits__inner__block__img {
        background: linear-gradient(310.68deg, #FCE38A 4.65%, #F38181 90.07%); }
      .benefits__inner__block.orange .benefits__inner__block--text {
        max-width: 22rem;
        width: 100%; }
      .benefits__inner__block.blue .benefits__inner__block__img {
        background: linear-gradient(315deg, rgba(23, 234, 217, 0.1) 0%, #22D9DB 34.08%, #6078EA 100%); }
      .benefits__inner__block.blue .benefits__inner__block--text {
        max-width: 25rem;
        width: 100%; }
      .benefits__inner__block.green .benefits__inner__block__img {
        background: linear-gradient(135deg, #43E695 0%, #3BB2B8 100%); }
      .benefits__inner__block.green .benefits__inner__block--text {
        max-width: 25rem;
        width: 100%; }
      .benefits__inner__block__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 4px; }
        .benefits__inner__block__img img {
          max-width: 100%; }
      .benefits__inner__block--text {
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: #1E2945;
        margin-left: 2.1rem; }

.advantages {
  margin-top: 18.8rem;
  margin-bottom: 9rem; }
  .advantages__inner {
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/bg-tab-content.png);
    background-repeat: no-repeat;
    background-position: 0 12.4rem; }
    .advantages__inner__tabs {
      display: flex;
      padding-left: 3.3rem;
      background: var(--color-white);
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
      border-radius: 4px; }
    .advantages__inner__content {
      display: flex;
      margin-top: 7.4rem; }
      .advantages__inner__content__inner {
        display: flex;
        justify-content: space-between; }
        .advantages__inner__content__inner.tab {
          display: none; }
          .advantages__inner__content__inner.tab.active {
            display: flex; }
        .advantages__inner__content__inner__wrap {
          display: flex;
          flex-direction: column;
          padding-top: 12.6rem;
          padding-bottom: 20.9rem;
          color: #1E2945; }
          .advantages__inner__content__inner__wrap--title {
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 0.0888889px;
            max-width: 49.8rem;
            width: 100%;
            margin-left: 3px; }
          .advantages__inner__content__inner__wrap--text {
            font-size: 1.8rem;
            line-height: 2.9rem;
            max-width: 48.7rem;
            width: 100%;
            margin-top: 11px;
            margin-left: 4px; }
        .advantages__inner__content__inner--main-img {
          max-width: 100%;
          height: inherit;
          margin-top: -6.3rem;
          margin-right: 1.5rem; }

.partners {
  padding-top: 15.1rem;
  padding-bottom: 18.6rem;
  background-color: var(--color-white); }
  .partners__inner {
    display: flex;
    flex-direction: column; }
    .partners__inner__title {
      font-size: 4rem;
      line-height: 5rem;
      text-align: center;
      letter-spacing: 0.0888889px;
      color: #1E2945;
      margin-bottom: 2.4rem; }
    .partners__inner__wrap {
      display: flex;
      flex-direction: column; }
      .partners__inner__wrap__block {
        display: flex;
        align-items: center;
        width: 100%; }
        .partners__inner__wrap__block:nth-child(2) {
          margin-top: -2rem; }
      .partners__inner__wrap--img {
        max-width: 100%; }
        .partners__inner__wrap--img.badoo {
          margin-top: -6px;
          margin-left: 3.7rem; }
        .partners__inner__wrap--img.tesla {
          margin-top: -2px;
          margin-left: 4.5rem; }
        .partners__inner__wrap--img.gillette {
          margin-top: 6px;
          margin-left: 8.1rem; }
        .partners__inner__wrap--img.coca-cola {
          margin-top: -5px;
          margin-left: 8.6rem; }
        .partners__inner__wrap--img.netflix {
          margin-top: 4px;
          margin-left: 5.5rem; }
        .partners__inner__wrap--img.microsoft {
          margin-top: -3px;
          margin-left: 6.3rem; }
        .partners__inner__wrap--img.walt-disney {
          margin-top: 3px;
          margin-left: 5.8rem; }
        .partners__inner__wrap--img.facebook {
          margin-top: -2px;
          margin-left: 7.4rem; }
        .partners__inner__wrap--img.google {
          margin-top: 6px;
          margin-left: 6.5rem; }
        .partners__inner__wrap--img.toyota {
          margin-top: 6px;
          margin-left: 5.1rem; }

.app {
  margin-top: 13.8rem; }
  .app__inner {
    display: flex;
    background-image: url(../../assets/images/bg-app.svg);
    background-repeat: no-repeat;
    background-position: 0 14.3rem; }
    .app__inner__info {
      display: flex;
      flex-direction: column;
      color: var(--color-white);
      margin-top: 35.2rem;
      margin-bottom: 31rem;
      margin-left: 14rem;
      margin-right: 4.4rem; }
      .app__inner__info--title {
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: 0.0888889px;
        max-width: 41.2rem;
        width: 100%;
        margin-top: -2px;
        margin-bottom: 1.4rem; }
      .app__inner__info--text {
        font-size: 1.8rem;
        line-height: 2.6rem;
        max-width: 39rem;
        width: 100%;
        margin-left: 2px; }
    .app__inner--img {
      margin-top: -.7rem;
      margin-left: -.9rem;
      max-width: 100%;
      height: fit-content; }

.about {
  margin-top: 20rem;
  margin-bottom: 12.2rem; }
  .about__inner {
    margin-left: 8rem;
    color: #1E2945; }
    .about__inner__title {
      font-size: 4rem;
      line-height: 3.9rem;
      letter-spacing: 0.0888889px;
      margin-bottom: 3.5rem;
      margin-left: -1px; }
    .about__inner__wrap {
      display: flex;
      flex-wrap: wrap; }
      .about__inner__wrap--text {
        font-size: 1.8rem;
        max-width: 55rem;
        width: 100%;
        margin-right: 6.9rem; }
        .about__inner__wrap--text:nth-child(even) {
          max-width: 50rem;
          width: 100%; }

.footer__inner {
  display: flex;
  background-image: url(../../assets/images/bg-footer.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 16rem;
  padding-bottom: 4.7rem;
  padding-left: 7.5rem;
  padding-right: 8.8rem; }
  .footer__inner__menu {
    display: flex;
    flex-direction: column;
    color: #1E2945; }
    .footer__inner__menu span {
      font-size: 1.6rem;
      line-height: 1.9rem;
      font-weight: 500;
      margin-bottom: 5px; }
    .footer__inner__menu li {
      display: flex;
      font-size: 1.5rem;
      line-height: 2.6rem; }
    .footer__inner__menu a {
      display: flex;
      text-decoration: none;
      color: inherit; }
    .footer__inner__menu img {
      max-width: 100%;
      height: inherit; }
    .footer__inner__menu.menu-large {
      margin-right: 9rem; }
    .footer__inner__menu.menu-medium {
      margin-right: 9.7rem; }
    .footer__inner__menu.menu-small {
      margin-right: 8.9rem; }
    .footer__inner__menu.menu-apps {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-left: 2px;
      margin-right: 7.9rem; }
      .footer__inner__menu.menu-apps li {
        margin-top: 4px;
        margin-right: 1rem;
        transition: all .3s ease; }
        .footer__inner__menu.menu-apps li:last-child {
          margin-right: 0; }
        .footer__inner__menu.menu-apps li:hover {
          transform: translateY(-3px); }
  .footer__inner__menu-info {
    display: flex;
    flex-direction: column; }
    .footer__inner__menu-info__social {
      display: flex;
      margin-top: 4px;
      margin-bottom: 4.4rem; }
      .footer__inner__menu-info__social li {
        display: flex;
        margin-right: 8px;
        transition: all .3s ease; }
        .footer__inner__menu-info__social li:last-child {
          margin-right: 0; }
        .footer__inner__menu-info__social li:hover {
          transform: translateY(-3px); }
      .footer__inner__menu-info__social a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background: linear-gradient(316.02deg, #1ACBFD -79.1%, #345AFF 95.81%);
        border-radius: 6px; }
      .footer__inner__menu-info__social img {
        max-width: 100%; }
    .footer__inner__menu-info--img {
      max-width: 100%;
      height: inherit; }

.nav-mobile {
  display: none; }

@media screen and (max-width: 1150px) {
  .header__inner {
    padding: 0 5rem; }
  .advantages {
    margin-bottom: 0; }
  .about__inner {
    margin: 0 5rem; }
  .about__inner__wrap--text {
    max-width: unset;
    margin-right: 0; }
    .about__inner__wrap--text:nth-child(even) {
      max-width: unset; }
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center; }
  .footer__inner__menu {
    align-items: center;
    width: calc(33.3333% - 2rem); }
    .footer__inner__menu.menu-large {
      margin-right: 0; }
    .footer__inner__menu.menu-medium {
      margin: 0 1rem; }
    .footer__inner__menu.menu-small {
      margin-right: 0; }
    .footer__inner__menu.menu-apps {
      margin-top: 3.5rem;
      width: fit-content; }
    .footer__inner__menu-info {
      flex-direction: row;
      align-items: center;
      margin-top: 3.5rem; }
      .footer__inner__menu-info__social {
        margin: 0; }
      .footer__inner__menu-info--img {
        margin-left: 4rem; }
    .footer__inner__menu li {
      text-align: center; } }

@media screen and (max-width: 1040px) {
  .hero__inner {
    padding-top: 20rem;
    padding-bottom: 30rem;
    padding-left: 5rem;
    padding-right: 5rem; }
  .benefits__inner {
    justify-content: space-between;
    padding: 7rem 5rem; }
    .benefits__inner__block {
      width: 40%;
      justify-content: space-between; }
      .benefits__inner__block__img {
        min-width: 48px; }
      .benefits__inner__block:nth-child(n+3) {
        margin-top: 5rem; }
      .benefits__inner__block--text {
        text-align: right; }
  .advantages {
    margin-top: 9rem; }
    .advantages__inner__tabs {
      justify-content: space-between;
      padding-left: 0; }
      .advantages__inner__tabs button {
        margin: 0 10px; }
        .advantages__inner__tabs button[data-tab-name="deposit"], .advantages__inner__tabs button[data-tab-name="support"], .advantages__inner__tabs button[data-tab-name="free"] {
          margin-right: 10px; }
    .advantages__inner__content__inner {
      padding: 0 2rem; }
      .advantages__inner__content__inner--main-img {
        max-width: unset;
        width: 40%;
        margin-right: 0; }
  .partners {
    padding: 7rem 0; }
    .partners__inner__wrap__block {
      justify-content: space-between; }
    .partners__inner__wrap--img {
      max-width: unset;
      width: 15%; }
      .partners__inner__wrap--img.badoo, .partners__inner__wrap--img.tesla, .partners__inner__wrap--img.gillette, .partners__inner__wrap--img.coca-cola, .partners__inner__wrap--img.netflix, .partners__inner__wrap--img.microsoft, .partners__inner__wrap--img.walt-disney, .partners__inner__wrap--img.facebook, .partners__inner__wrap--img.google, .partners__inner__wrap--img.toyota {
        margin: 0 10px; }
  .app {
    margin-top: 0; }
    .app__inner {
      padding: 0 5rem;
      padding-top: 30rem;
      padding-bottom: 8rem; }
      .app__inner--img {
        width: 55%;
        max-width: unset;
        height: unset;
        margin-top: -6rem; }
      .app__inner__info {
        margin: 0;
        justify-content: center; }
  .about {
    margin-top: 5rem;
    margin-bottom: 1.5rem; }
  .footer__inner {
    padding: 5rem;
    padding-top: 13rem; } }

@media screen and (max-width: 780px) {
  .footer {
    margin-top: -12rem; }
    .footer__inner {
      padding-top: 23rem;
      background-position: -5rem bottom;
      background-size: cover; }
      .footer__inner__menu.menu-apps {
        justify-content: center;
        width: 100%;
        margin-right: 0; }
      .footer__inner__menu-info {
        flex-direction: column; }
        .footer__inner__menu-info--img {
          margin-left: 0;
          margin-top: 2rem; } }

@media screen and (max-width: 710px) {
  .header__inner {
    padding: 0 2rem; }
    .header__inner__menu {
      display: none; }
  .hero__inner {
    padding-top: 13rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem; }
    .hero__inner__title {
      font-size: 5rem;
      line-height: normal; }
  .benefits {
    margin-top: -5rem; }
    .benefits__inner {
      flex-direction: column;
      width: fit-content;
      padding: 4rem 5rem;
      margin: 0 auto; }
      .benefits__inner__block {
        width: 100%;
        margin-bottom: 2rem; }
        .benefits__inner__block:last-child {
          margin-bottom: 0; }
        .benefits__inner__block:nth-child(n+3) {
          margin-top: 0; }
        .benefits__inner__block:nth-child(even) {
          margin-top: 0; }
          .benefits__inner__block:nth-child(even) .benefits__inner__block__img {
            margin-left: 0; }
        .benefits__inner__block__img {
          min-width: 48px; }
        .benefits__inner__block--text {
          text-align: right; }
  .advantages__inner {
    background-position: -6rem 12.4rem; }
    .advantages__inner__content__inner__wrap {
      padding: 0;
      padding-bottom: 5rem;
      width: 100%; }
      .advantages__inner__content__inner__wrap--title {
        max-width: unset;
        text-align: center; }
      .advantages__inner__content__inner__wrap--text {
        max-width: unset;
        text-align: justify;
        margin-left: 0; }
        .advantages__inner__content__inner__wrap--text br {
          display: none; }
    .advantages__inner__content__inner--main-img {
      display: none; }
  .partners__inner {
    padding: 0 2rem; }
  .btn-hamburger {
    display: flex; }
    .btn-hamburger-close {
      display: flex;
      position: absolute;
      top: 3rem;
      right: 3rem; }
  .nav-mobile {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(344.06deg, #1ACBFD 10.97%, #345AFF 96.29%);
    z-index: 200;
    transform: translateY(-200%);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease; }
    .nav-mobile.active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible; }
    .nav-mobile ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .nav-mobile ul li {
        display: flex;
        font-size: 3rem;
        line-height: normal;
        margin-bottom: 1.5rem; }
      .nav-mobile ul a {
        display: flex;
        text-decoration: none;
        color: var(--color-white); } }

@media screen and (max-width: 620px) {
  .advantages__inner {
    background-position: -6rem 12.4rem; }
    .advantages__inner__tabs {
      display: flex;
      flex-wrap: wrap;
      margin: 0 5rem; }
      .advantages__inner__tabs button {
        width: calc(50% - 20px);
        padding: 13px 5px; }
  .partners__inner__wrap__block {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .partners__inner__wrap__block:nth-child(2) {
      margin-top: 0rem; }
  .partners__inner__wrap--img {
    width: 23%;
    height: 50px;
    object-fit: contain; }
  .app {
    position: relative; }
    .app__inner {
      flex-direction: column;
      background-position: 0 3.3rem;
      padding-top: 23rem;
      padding-left: 2rem;
      padding-right: 2rem; }
      .app__inner--img {
        width: 28%;
        position: absolute;
        top: 15rem;
        right: 2rem; }
      .app__inner__info--text {
        text-align: justify; }
        .app__inner__info--text br {
          display: none; }
  .about__inner {
    margin: 0 2rem; }
    .about__inner__title {
      font-size: 3rem;
      line-height: normal; }
    .about__inner__wrap--text {
      text-align: justify; }
  .footer {
    margin-top: -24rem; }
    .footer__inner {
      padding-top: 32rem; }
      .footer__inner__menu {
        width: 100%;
        margin-bottom: 2rem; }
        .footer__inner__menu.menu-medium {
          margin: 0;
          margin-bottom: 2rem; }
        .footer__inner__menu.menu-apps {
          margin: 0;
          margin-bottom: 2rem; }
        .footer__inner__menu-info {
          margin: 0;
          margin-top: 2rem; } }
